<nav class="shadow-sm navbar navbar-expand-lg bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="../../../assets/images/icon.png" class="logo-icon" alt="logo icon"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Usuario</a>
        </li>
      </ul>
      <button class="btn btn-outline-secondary navbar-text" (click)="salir()">Salir</button>
    </div>
  </div>
</nav>